  <!-- page start-->
 
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          Inline Editor
        </header>
        <div class="panel-body">
          <div id="editor-container">
            <div id="header-editor">
              <div id="headerLeft">
                <h2 id="sampleTitle">
                 Complex template
                <h2>
                <h3>
                  Generic Header
                </h3>
              </div>
              <div id="headerRight">
                <div>
                  <p>
                  Some details info about the topic.
                  </p>
                  <p>
                  References and mayb some links
                  </p>
                </div>
              </div>
            </div>
            <div id="columns">
              <div id="column1">
                <div>
                  <h3>
                    Column a Header
                  </h3>
                  <p>
                  <strong>
                    Brief description
                  </strong>
                  </p>
                  <p>
                  Detailis
                  </p>
                  <blockquote>
                    <p>
                   Some code example  
                    </p>
                  </blockquote>
                  <blockquote>
                    <p>
                    And more.
                    </p>
                  </blockquote>
                  <p>Some info</p>
                </div>
              </div>
              <div id="column2">
                <div>
                  <h3>
                    Column B Header
                  </h3>
                  <p>
                  <strong>Brief Description.</strong>
                  <p>Info<p>
                  <p>Info continued ...</p>
                </div>
                <div>
                  <h3>
                    Theme continuation
                  </h3>
                  <p>Info.</p>
                  <p style="margin-left: 30px; ">Info cont ...</p>
                </div>
              </div>
              <div id="column3">
                <div>
                  <h3>
                    Full Featured Frontend Ready
                  </h3>
                  <ul>
                    <li>Point one.</li>
                    <li>Point two.</li>
                    <li>Point three</li>
                  </ul>
                  <p>Info.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- page end-->