  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          Inline Editor
        </header>
        <div class="panel-body">
          <div id="editor-container">
            <div id="header-editor">
              <h2 id="sampleTitle" style="color:#ff6c60" >
                Template Title</h2>
              <h3>
                Template Description</h3>
            </div>
            <div>
              <div>
                <h3>Introduction</h3>
                <p><strong>Header</strong></p>
                <p>Text <a href="#">reference </a> reference detail.</p>
                <p>Paragraph A.</p>
                <p>Paragraph B.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>