<div class="row">
    <div class="col-md-12">
        <section class="panel tasks-widget">
            <header id="todo-list-header-yesterday" class="panel-heading">
                Todo list
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul id="task-list-yesterday" class="task-list">
                    </ul>
                </div>
                <div class=" add-task-row">
                    <a class="btn btn-success btn-sm pull-left" href="javascript:addTask('yesterday');">Add New Task</a>
                    <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                </div>
            </div>
        </section>
    </div>
</div>
